@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    color: #fff;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
}

body {
    background: linear-gradient(#80a9db, #3069a7) no-repeat center center fixed;
}

.container-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

.search-form {
    background-color: #fff;
    padding: 0.6rem;
    border-radius: 1rem;
}

input {
    border: none;
    padding: 0rem 15rem 0rem 1rem;
    color: black;
    outline: none;
}

input:active {
    border: none;
}

button {
    background-color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 1000;
    color: #000;
}

.weather-moredetails {
    display: flex;
    max-width: 55rem;
    /* background-color: antiquewhite; */
}

.weather-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.weather-img {
    max-width: 50%;
}

.weather-img>img {
    max-width: 100%;
}

.weather-details>h1 {
    font-size: 7rem;
    font-weight: 400;
}

.weather-more {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}


.humidity, .windspeed {
    display: flex;
    gap: 1rem;
}
.humidity>img, .windspeed>img {
    max-width: 3rem;
}

.humidity-details {
    display: flex;
    flex-direction: column;
}

.humidity-value,
.windspeed-value,
.country {
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    .weather-moredetails {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-form {
        background-color: #fff;
        padding: 0.6rem;
        border-radius: 1rem;
    }
    
    input {
        border: none;
        padding: 0rem 15rem 0rem 1rem;
    }
}

@media screen and (max-width: 400px) {
    .weather-moredetails {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-form {
        background-color: #fff;
        padding: 0.2rem;
        border-radius: 1rem;
    }
    
    input {
        border: none;
        padding: 0rem 6rem 0rem 0rem;
    }
    

    .weather-details>h1 {
        font-size: 5rem;
    }

    p {
        font-size: 1rem;
    }
}


@media screen and (max-width: 500px) {
    input {
        border: none;
        padding: 0rem 12rem 0rem 1rem;
    }
}